

.looptext-projects {
  padding: .625rem 0;
  overflow: hidden;
}

 .looptext-projects div {
  display: flex;
  animation: marqueephoto 15s linear infinite running;
  column-gap: .75rem;
}


 .looptext-projects h3 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  white-space: nowrap;
}

 .looptext {
  background: rgb(37,37,37);
  background: linear-gradient(0deg, rgba(37,37,37,1) 0%, rgba(239,200,82,0.7875525210084033) 95%, rgba(37,37,37,1) 100%);
  padding: .625rem 0;
  overflow: hidden;
}

 .looptext div {
  display: flex;
  animation: marquee 10s linear infinite running;
  column-gap: .75rem;
}

 .looptext div:hover {
  animation-play-state: paused;
}

 .looptext h3 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  white-space: nowrap;
}

@keyframes marquee {
  0% { transform: translateX(0) }
  100% { transform: translate(-50%) }
}

@keyframes marqueephoto {
  0% { transform: translateX(-50%) }
  100% { transform: translate(0) }
}
