@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

body {
  min-width: 320px;
  color: white;
  background-image: linear-gradient(to right bottom, #7a1ba7, #36155c, #1f1448, #100f32, #03011d);    background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 0;
  
}

#container {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.253);
}

#title {
  font-size: 3.2em;
  line-height: 2em;
}

#content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
  padding: 2em;
}

#options, #checks, #phase, #timer-container {
  margin-bottom: 1em;
}

#options > .timer-option {
  display: inline-block;
  width: 200px;
}

#checks > .check {
  opacity: 0.25;
  color: #fff;
  text-shadow: 1px 1px 10px rgb(189, 196, 255);

}

#phase {
  font-size: 1.3em;
}

/**/
#timer-container {
  display: inline-block;
  width: 240px;
  height: 240px;
  position: relative;
  background-image: radial-gradient(#111115eb 40%, #020115 100%);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#timer, #timer-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#timer {
  font-family: 'Roboto Mono', monospace;
  font-size: 4em;
  z-index: 1;
  line-height: 240px;
  color: white;
  text-shadow: 1px 1px 10px rgb(189, 196, 255);
  border: 4px solid #fff;
  box-shadow: 1px 1px 10px rgb(189, 196, 255);;
  border-radius: 100%;
  box-sizing: border-box;

}

input[type=text] {
  text-align: center;
  margin: 0 -5px;
}

.timer-option > button, input[type=text] {
  font-size: 1em;
  width: 2em;
  height: 2em;
  color: #7a1ba7;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7a1ba7;
  box-sizing: border-box;
}

#timer-controls > button {
  font-size: 1em;
  color: #7a1ba7;
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

#timer-controls > button:hover {
  color: #fff;
  text-shadow: 1px 1px 10px rgb(189, 196, 255);
  cursor: grab;
}

footer{
  padding: 20px;
}
a {
  text-decoration: none;
  color: #fff;

}

.music{
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 3em;
  }
  #options > .timer-option {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
